.Content{
    background-color: #fafafa;
    padding: 0 40px;
    padding-bottom: 50px;
    min-height: calc(100vh - 70px);
}

@media screen and (max-width: 500px) {
    .Content{
        padding: 0 15px;
    }
}